* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}
.menu{
    display: none ;
}
a{
    text-decoration: none;
    
    color: #000 !important;
}
a:hover{
    color: #FFFF !important;
}
.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.font-500 {
    font-weight: 500;
    font-size: .75rem;
}

.font-600 {
    font-size: .875rem;
    font-weight: 600;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

menu,
ol,
ul,
li {
    list-style: none;
    padding: 0;
}

.container-content {
    padding: 0 24px;
    width: 1218px !important;
}

.content-wrapper.container-content {
    height: unset !important;
}
.xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
/* main menu*/
.main-menu{
    z-index: 9999999999999999999;
    display: none;
}
/* top-heaer */
.top-header {
    height: 40px;
    border: 1px solid #e5e7eb;
}
.content-right{
    display: flex;
    justify-content: end;
}
.fill-current {
    fill: currentColor;
}


.select-wrapper {
    position: relative;
}
.select-box{
    display: flex;
    align-items: center;
} 
.select-box span{
    padding-right: 3px;
}
.select-box .list-country {
    position: absolute;
    right: 170px !important;
}

.select-box .list {
    position: absolute;
    right: 130px;
    top:20px;
    transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
 
}

.opacity-0{
    opacity: 0;
}
.select-box .list-country .list-group {
    width: 150px;
    height: 120px;
    position: absolute;
    z-index: 999999999999;
    

}

.select-box .list-country .list-country .list-group-item {
    padding-left: 18px;
    padding-right: 29px;
    z-index: 999999999999;
}

.select-box .list-money .list-group {
    position: absolute;
    width: 120px;
    height: 80px;
    z-index: 99999999;
}

.select-box .list-language .list-group {
    position: absolute;
    width: 120px;
    height: 80px;
    z-index: 9999999;
}


.select-box .list li {
    cursor: pointer;
    list-style: none;
    text-align: left;
    transition: all .2s;
}


/* header */
.content-logo-introduction {
    height: 86px;
}
.menu{
    display: none;
}
img {
    height: auto;
}
.search{
    display: flex;
    align-items: center;
}
.container-content .search .input-group {
    border: 1px solid #e5e7eb;
}

.container-content .search .input-group .search-input {
    border: 1px solid #e5e7eb;
    padding-left: 20px;
    width: 215px;
    border-right: 0;
    height: 44px;
}

.container-content .search .input-group .categories {
    border: 1px solid #e5e7eb;
    width: 215px;
    height: 44px;
    border-left: 0;
    padding-left: 20px;
}

.container-content .search .input-group .input-item {
    position: relative;
    display: flex;
    align-items: center;
}

.container-content .search .input-group .input-item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 0.8px;
    background-color: #e5e7eb;
}

.container-content .search .input-group .categories svg {
    margin-left: 90px;
}

.container-content .search .input-group .btn-search {
    background-color: #ed4351cc;
    width: 92px;
    height: 44px;
    border-radius: none;
    color: #fff;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 18px 12px;
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    font-size: 9px;
    top: 9px;
    right: 1px;
    border-radius: 50%;
    background: #ed4351cc;
    color: white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification .product-list-wrapper {
    position: absolute;
    border-top: 3px #80808047 solid;
    top: 48px;
    right: -32px;
    width: 300px;
    height: 586px;
    background: #fff;
    z-index: 9999;
    display: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px;
}

.notification .product-list-wrapper .product-list {
    height: 310px;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: clip;
}

.notification .product-list-wrapper .product-list::-webkit-scrollbar {
    width: 2px;
}

.notification .product-list-wrapper .product-list::-webkit-scrollbar-thumb,
.notification .product-list-wrapper .product-list::-webkit-scrollbar-thumb:hover {
    background: #8e8e8e;
}

.notification .product-list-wrapper .product-list .product-item {
    height: 105px;
}


.product-list-wrapper .product-list .product-item .product-name {
    color: #000000ad;
}

.product-list-wrapper .product-list .product-item .product-name:hover {
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity));
}

.close-icon {
    font-size: 18px;
    color: #000000ad;
    cursor: pointer;
}

.notification .product-list-wrapper .sub-total {
    position: relative;
    color: #000000ad;
    margin-top: 20px;
    padding: 20px;
}

.notification .product-list-wrapper .end-sub-tal {
    position: relative;
    color: #000000ad;
    margin-top: 10px;
    padding: 20px;
}

.notification .product-list-wrapper .sub-total::before,
.notification .product-list-wrapper .end-sub-tal::before {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    height: .8px;
    background-color: #e5e7eb;
}

.notification .product-list-wrapper .sub-total::before {
    top: 0;
}

.notification .product-list-wrapper .end-sub-tal::before {
    top: 0;
}


.btn-sub-total .btn-view-cart {
    align-items: center;
    background: #f0f1f3;
    display: flex;
    font-size: .875rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25rem;
    width: 268px;
    height: 50px;
    border: 0;
}

.btn-sub-total .btn-checkout-now {
    border: 0;
    color: #fff;
    background-color: #ed4351cc;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    width: 100%;
    width: 268px;
    height: 50px;
    font-size: .875rem;
    line-height: 1.25rem;
}

.btn-sub-total {
    padding: 0 20px;
}

.end-sub-tal {
    padding: 10px;
    color: #b6b6b6;
}

.compaire .cart:hover .product-list-wrapper {
    display: flex;
}

/* navigation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navigation {
    height: 60px;
    background-color: #ed4351cc;
}

a {
    text-decoration: none !important;
}

.p-20 {
    padding: 0 20px;
}

.ml-24 {
    margin-left: 24px;
}

.text-color {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
}

.navigation .container-content .menu-categories {
    height: 53px;
    width: 270px;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    cursor: pointer;
    top: 6px;
    margin-left: 28px;
}

.navigation .container-content .menu-categories .dropdown-categories {
    position: absolute;
    top: 53px;
    left: 0;
    width: 270px;
    z-index: 99999;
    overflow: hidden;
    transition: all .5s ease-in-out;
}


.navigation .container-content .menu-categories .dropdown-categories .category-item {
    height: 40px;
    border-top: #f2f5f5 solid 1px;
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
}

.navigation .container-content .menu-categories .dropdown-categories .category-item:hover {
    background-color: #ed4351cc;
}
.navigation .container-content .menu-categories .dropdown-categories .category-item:hover .text-hover {
    color: #fff !important;

}
.menu-navigation {
    width: auto;
    height: 60px;
}

.menu-navigation .nav-link {
    padding-left: 24px !important;
    color: #fff !important;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 19px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.menu-navigation .nav-link span{
    padding-right: 3px;
}
.navigation .become-a-seller{
    position: absolute;
    display: flex;
    right: 0;
    top: 10px;
}
.navigation .become-a-seller .btn-become-a-seller {
    color: #000;
    background-color: #ffbb38;
    width: 161px;
    height: 40px;
}

.menu-navigation .list-menu-homepage {
    position: absolute;
    color: #8e8e8e;
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: #fff;
    display: none;
    width: 209px;
    padding: 10px;
    height: 192px;
    top:59px;
    right: -110px;
    z-index: 999;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px;
    animation: fade-in .4s ease-in;
}
.nav-link{
    cursor: pointer;
}
.menu-navigation .list-menu-homepage .item-menu {
    padding: 7px;
}

.menu-navigation .list-menu-homepage .item-menu:hover {
    color: #ffbb38;
    text-decoration: underline;
}

.item1:hover .list-menu-homepage {
    display: flex;
}

/* list menu shop */
.container-content .menu-navigation .list-shop {
    width: 1170px;
    height: 285px;
    color: #8e8e8e;
    background-color: #fff;
    position: absolute;
    padding: 30px;
    display: none;
    top:59px;
    left: -401px;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px;
    animation: fade-in .4s ease-in;
}

.container-content .menu-navigation .list-shop .item-list-shop {
    padding: 30px;
}

.title {
    color: #000;
    font-weight: 600;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.font-400 {
    font-weight: 400;
}

.container-content .menu-navigation .list-shop .img-banner {
    position: relative;
}

.container-content .menu-navigation .list-shop .content:hover {
    color: #ffbb38;
    text-decoration: underline;
}

.container-content .menu-navigation .list-shop .item-list-shop .img-banner img {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.item2:hover .list-shop {
    display: inline-block;
}

/* list menu pages */
.menu-navigation .list-menu-page {
    position: absolute;
    color: #8e8e8e;
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: #fff;
    width: 195px;
    padding: 10px;
    display: none;
    height: 192px;
    top:59px;
    right: -130px;
    z-index: 999;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px;
    animation: fade-in .4s ease-in;
}

.menu-navigation .list-menu-page .item-menu {
    padding: 7px;
}

.menu-navigation .list-menu-page .item-menu:hover {
    color: #ffbb38;
    text-decoration: underline;
}

.item3:hover .list-menu-page {
    display: flex;
}

/* banner */
.banner{
    display: flex;
}
.container-content .banner {
    padding-top: 30px;
    padding-bottom: 60px;
}
.img-banner-left{
    width: unset !important;
}
/* .img-banner-right{
    margin-left: 30px;
} */

/* content 1 */
.text-xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}


.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
}

@keyframes rightDir {

    0%,
    100% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
    }
}

.section-title .view-more .animate-right-dir {
    animation: rightDir 1s infinite;
    display: inline-block;
}

.content-1 .list-item .group-item .item-category-market {
    margin-bottom: 10px;
    background-color: #eef1f1;
    border-radius: 50%;
    width: 105px;
    height: 110px;
}

.content-1 .list-item {
    margin-bottom: 46px;
}

.xl\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.gap-10 {
    gap: 2.5rem;
}

.content-1 .list-item .item-category-market:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 111 109/var(--tw-bg-opacity));
}

.content-1 .list-item .item-category-market:hover svg {
    fill: white !important;
}

.mb-60 {
    margin-bottom: 90px;
}
.grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));

}
.list-product-content-2 .item-product-content-2 {
    position: relative;
}

.list-product-content-2 .item-product-content-2 .hover-product-item {
    /* position: absolute; */
    z-index: 999;
    top: 0;
    left: 0;
    /* width: 363px; */
    /* height: 450px; */
}


.list-product-content-2 .item-product-content-2 .wrapper-product:hover .hover-product-item .list-icon-hover {
    right: 15%;
    opacity: 1;
}

.list-product-content-2 .item-product-content-2 .hover-product-item .list-icon-hover {
    position: absolute;
    opacity: 0;
    top: 20%;
    right: -20px;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-property: all;
}

.list-product-content-2 .item-product-content-2 .hover-product-item .list-icon-hover .icon-item-product-hover {
    --tw-bg-opacity: 1;
    background-color: rgb(204 236 235/var(--tw-bg-opacity));
    margin-bottom: 8px;
}

.list-product-content-2 .item-product-content-2 .wrapper-product:hover .add-to-cart {
    bottom: 12%;
    opacity: 1;
}

.list-product-content-2 .item-product-content-2 .hover-product-item .add-to-cart {
    position: absolute;
    opacity: 0;
    bottom: 0%;
    width: 100%;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-property: all;
}



.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.list-product-content-2 .item-product-content-2 .img-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.no-margin {
    margin: 0 !important;
}

.text-20 {
    font-size: 20px;
}

.text-18 {
    font-size: 18px;
}

.mr-1 {
    margin-right: 1px;
}

.text-qgray {
    color: #8e8e8e;
}

.main-price {
    text-decoration: line-through;
}

.mrl-40 {
    margin: 0 40px;
}

.py-40 {
    margin: 40px 0;
}
.img-product{
    padding: 20px;
}
.compaire .img-product{
    padding: 0 ;
}
/* content 3 */
.container-content .content-3 {
    width: 100%;
    height: 469px;
    margin: 30px 0 !important;
    padding: 48px;

}

.container-content .content-3 .count-down-date {
    margin-bottom: 40px;
    height: 132px;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.group-item .date {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 30px !important;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 5px;
}

.ml-3 {
    margin-left: 23px;
}

.text-18 {
    font-size: 18px;
}

.days {
    --tw-text-opacity: 1;
    color: rgb(235 87 87/var(--tw-text-opacity)) !important;
}

.hours {
    --tw-text-opacity: 1;
    color: rgb(47 128 237/var(--tw-text-opacity));
}

.minutes {
    --tw-text-opacity: 1;
    color: rgb(33 150 83/var(--tw-text-opacity));
}

.seconds {
    --tw-text-opacity: 1;
    color: rgb(239 93 168/var(--tw-text-opacity));
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

.empty {
    height: 290px;
}

.content-3 .countdown-title .description-countdown {
    line-height: 1.75rem;
    font-size: 18px;
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
}

.content-3 .countdown-title .main-title {
    font-size: 44px;
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
}
.price{
    padding-bottom: 10px;
}

.content-3 .countdown-title .shop-now .btn-shop-now {
    width: 119px;
    height: 40px;
    background-color: #ffbb38;
    border: 0;
}

.container-content .content-5  .item-content-5-product {
    padding: 20px;
    position: relative;
}

.mrl-20 {
    margin-left: 20px;
}

.container-content  .item-content-5-product .btn-add-to-cart {
    margin: 0;
}
.img-product-content-5{
    width: 33.333333%;
}
.title-product:hover{
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity));
}
.title-content{
    color: #ed4351cc;
}
.container-content  .item-content-5-product .hover-product-item {
    position: absolute;
    right: -20px;
    opacity: 0;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-property: all;
}

.container-content  .item-content-5-product:hover .hover-product-item {
    opacity: 1;
    right: 10px;
}

.container-content  .item-content-5-product .hover-product-item {
    opacity: 0;
}

.container-content  .item-content-5-product .hover-product-item .icon-item-product-hover {
    background-color: #e5e7eb !important;
    margin-bottom: 8px;
}

.gap-30 {
    gap: 30px;
}

.mt-30 {
    margin-top: 30px;
}
/* content 5 */
.d-grid.xl\:grid-col-2.gap-30 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* content-7 */
.d-grid.xl\:grid-col-4.gap-30 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.d-grid.xl\:grid-col-3.gap-30 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.container-content .content-7 .item-content-5-product {
    padding: 20px;
    border-top: solid 0.8px #eef1f1;
}
.text-15{
    font-size: 15px ;

}
.mb-grid{
    margin-bottom: 1.5px;
    border: 0.8px;
}
.pb-60{
    padding-bottom: 60px;
}
.h-307{
    height: 307px;
}
/* banner footer */
.sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.font-700 {
    font-weight: 700;
}
.text-qblack {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.text-qyellow {
    --tw-text-opacity: 1;
    color: rgb(255 187 56/var(--tw-text-opacity));
}
.h-54px{
    height: 54px;
}
.w-300px{
    width: 300px;
}
.mt-8{
    margin-top: 8px;
}
.w-543{
    width: 543px;
}
.address-email{
    width: 375px;
    padding-left: 16px;
    height: 54px;
}
.banner-footer .input-email{
    border: none;
    outline: none; 
}
.banner-footer .input-email::placeholder {
    letter-spacing: .05em;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
    font-size: 13px;
}
.banner-footer .button-coupon{
    width: calc(543px - 375px);
    background-color: #ffbb38;
}
.icon-email svg {
    fill: none;
    transition: fill 0.3s ease-in-out;
  }
  
  .icon-email.active svg {
    --tw-text-opacity: 1;
    color: rgb(255 187 56/var(--tw-text-opacity));
  }

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
}
img, object, svg, video {
    display: block;
    vertical-align: middle;
}
img{
    object-fit: contain;
}
.content-7 .img-product-content-5{
    width: 75px;
}
.title-product.text-15.font-600 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}
/* footer */

.mb-14 {
    margin-bottom: 2.5rem;
}
.text-\[\#9A9A9A\] {
    --tw-text-opacity: 1;
    color: rgb(154 154 154/var(--tw-text-opacity));
}
.text-\[15px\] {
    font-size: 15px;
}
.border-transparent {
    border-color: transparent;
}
.border-b {
    border-bottom-width: 1px;
}
.space-y-5>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1.25rem*var(--tw-space-y-reverse));
    margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
}
.text-\[\#2F2F2F\] {
    --tw-text-opacity: 1;
    color: rgb(47 47 47/var(--tw-text-opacity));
}
ol, ul {
    padding-left: 0 !important;
}
.h-82 {
    height: 82px;
}
.border-qgray-border {
    --tw-border-opacity: 1;
    border-color: rgb(239 239 239/var(--tw-border-opacity));
}
.border-t {
    border-top: 1px solid #f0f1f3;
}
.hover\:text-qblack:hover {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity));
    text-decoration: underline;
}
.distance-bottom-bar{
    margin-top: 110px;
}
.w-82{
    width: 82px;
}
.text-qgray {
    --tw-text-opacity: 1;
    color: rgb(121 121 121/var(--tw-text-opacity));
}
.wrapper-footer .column{
    width: 292px;
}
.wrapper-footer{
    display: flex;
}
.bottom-bar{
    display: flex;
}
.btn-add-to-cart {
    background-color: #ed4351cc;
    font-size: 13px;
    border: 0;
    margin: auto auto;
    padding: 4% 14%;
}